/* FONT FAMIlY  */
@font-face {
    font-family: "Recoleta DEMO";
    src: url("../fonts/Recoleta-RegularDEMO.woff2") format("woff2"),
        url("Recoleta-RegularDEMO.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/noto-sans-v11-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
         url("../fonts/noto-sans-v11-latin-regular.woff") format("woff"), /* Modern Browsers */
        }




 /* Root  */
:root{
    /* TEXT COLORS  */
    --bg-color: #163a24;
    --text-green-color: #198c36;
    --text-white-color: #fbfaf7;
    --li-color: #163a24;
    --ebg--color: #f2efe6;
    /* FONT FAMILY  */
    --noto-sans: "Noto Sans", "Arial" , serif ;
    --recoleta: "Recoleta DEMO", "Arial" , serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    margin:0;
    padding: 0;
    font-family: var(--noto-sans);
    overflow-x: hidden;
}

/* =================================================================================
                                HEADER
 ================================================================================= */

.main__header{
    background-color: var(--bg-color);
    margin-bottom: 120px;
}

.header{ 
    padding: 20px 130px;
}

.sitenav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitenav__nav{
    display: flex;
    list-style-type: none;
}

.sitenav__item{    
    margin-left: 24px;
}

.sitenav__link{
    color: var(--text-white-color);
    text-decoration: none;
}

.sitenav__link--active{
    background-color: var(--text-green-color);
    padding: 15px 25px;
    border-radius: 160px;
    font-size: 16px;
    line-height: 21px;
}

/* Bottom header  */

.bottom__header{
    display: flex;
    padding: 0 85px 0 130px;
    color: var(--text-white-color);
}
.header__description{
    margin: 80px auto auto;
}

.caption{
    font-family: var(--recoleta);
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;  
}

.paragraph{
    font-size: 18px;
    line-height: 27px;
}
.human__image{
    display: block;
}


/* =================================================================================
                                HR INFO
 ================================================================================= */

 .hr__info{
    color: var(--li-color);
 }
 
 .hr__invitation{
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin: 0 103px;
 }
.hr__text{
    width: 390px;
}

.hr__company{
    margin-top: 110px;
    text-align: center;
}

.hr__company--image{
    margin: 0 43px 60px;
}

/* Hr Quality */

.hr__quality{
    background-color: var(--bg-color);
    color: var(--text-white-color);
    padding: 50px 100px 90px;
    text-align: center;
}
.hr__caption{
    margin-bottom: 60px;
}
.hr__highest--quality{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

/* Empolyee */
.employee{
    background-color: var(--ebg--color);
    padding: 50px 100px 90px;
    text-align: center;
}

.employee__text{
    display: inline-block;
    width: 60%;
    margin-bottom: 27px;
}

.employee__development{
    display: flex;
    padding: 100px 200px;
    justify-content: space-between;
    align-items: center;
}

.employee__development--text{
    text-align: start;
}


/*==============================================================================
                                    ADVANTAGES  
 =============================================================================*/

.advantages{
    color: var(--bg-color);
    text-align: center;
}
.interest{
    margin-bottom: 80px;
}

.card__container{
    display: flex;
    align-items: flex-start;
    padding: 50px 150px;
}

.interest__card{
    width: 350px;
    background-color: var(--ebg--color);
    text-align: start;
    padding: 40px 30px 50px;
    margin-left: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #858484;
}

.card--caption{
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 1.5rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.card--caption::before{
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.caption--shield::before{
    content: "";
    width: 62px;
    height: 74px;
    background-image: url("../images/shield.svg");
}
.caption--star::before{
    content: "";
    width: 82px;
    height: 74px;
    background-image: url("../images/star.svg");
}
.caption--search::before{
    content: "";
    width: 82px;
    height: 74px;
    background-image: url("../images/search.svg");
}

.card--item{
    line-height: 2;
    margin-left: 20px;
    font-size: 0.8rem;
}

.help{
    background-color: var(--ebg--color);
    line-height: 20px;
    padding: 80px;
}
.help--paragraph{
    margin-top: 25px;
    margin-bottom: 15px;
}

.book--button{
    padding: 15px 25px;
    background-color: var(--text-green-color);
    border-radius: 25px;
    border: none;
    outline: none;
    color: var(--text-white-color);
}

.advantages__footer{
    position: relative;
    background-color: var(--bg-color);
    color: var(--text-white-color);
    padding: 80px 20px;
}
.advantages__footer p{
    margin-top: 25px;
    margin-bottom: 18px;
}

.call--btn{
    background-color: #FAB5A0;
    color: var(--bg-color);
}

.footer--flower{
    position: absolute;
}

.flower--left{
    left: 0;
    bottom: 0;
}
.flower--right{
    right: 0;
    bottom: 0;
}

/*=====================================================================================
                                FOOTER
=====================================================================================*/

.send--email{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 90px;
    color: var(--bg-color);
    background-color: var(--ebg--color);
}

.email--text{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.email--text h2{
    margin-bottom: 25px;
}

.send--email form{
    flex-basis: 50%;
}

.input--container{
    display: flex;
}
.input--email{
    background: #FFFFFF;
    border: 1px solid #F2EFE6;
    box-sizing: border-box;
    border-radius: 255px;
    height: 50px;
    flex-grow: 1;
    outline: none;
    padding-left: 10px;
}

.input--btn{
    background: #15762E;
    border-radius: 160px;
    color: var(--text-white-color);
    padding: 16px 25px;
    border: none;
    position: relative;
    right: 50px;
}

.label{
    margin-top: 10px;
}

.footer{
    color: var(--bg-color);
    padding: 30px 90px;
}

.footer--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 25px;
}

.footer--navbar{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer-link{
    display: flex;
    list-style: none;
}
.footer--item{
    margin-left: 14px;
}
.footer--item a, a{
    text-decoration: none;
    color: var(--text-green-color);
}